:host {
  .help-container {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .table-container {
      width: 80%;
      padding: 30px;
      table {
        width: 100%;
        border: 1px solid black;
        text-align: center;
        border-collapse: collapse;
        thead th,
        tbody td {
          border: black solid 1px;
        }
        tbody > tr > td:first-child {
          font-weight: bolder;
        }
      }
    }
  }
}
