:host {
  .cell-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .ratio {
    margin-top: 9px;
  }
  .compliance {
    span {
      padding: 8px 15px;
    }
  }
}
