:host {
  .table-container {
    table {
      width: 100%;
      border: none;
      border-spacing: unset;
      border-collapse: collapse;
      td,
      th {
        padding: 15px 0px;
      }
      thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 64px;
      }
    }
    .first-header-cell {
      background-color: #fff;
      z-index: 100;
    }
    th.text-header,
    td.text-header {
      div {
        margin-left: 5px;
        z-index: 1;
        color: white;
        -webkit-filter: drop-shadow(1px 1px 0px #000);
        filter: drop-shadow(1px 1px 0px #000);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
        font-weight: 400;
      }
    }
    th.color-header {
      height: 40px;
      min-width: 30px;
      text-align: center;
      div {
        transform: translate(0px, 0px) rotate(270deg);
      }
    }
  }
}
