:host {
  .button-import {
    width: 100%;
    .icon-import {
      padding-right: 5px;
    }
  }
  .sidenav-container {
    height: 100%;
  }
  .sidenav {
    width: 200px;
  }
  .mat-toolbar {
    z-index: 9999;
    .custom-search {
      margin: 25px;
    }
    &.mat-toolbar-single-row {
      position: sticky;
      top: 0;
    }
  }

  .mat-sidenav-content {
    display: grid !important;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .mat-sidenav-content {
      display: block !important;
    }
  }
}
