:host {
  ::ng-deep .mat-list-item {
    font-size: 14px !important;
  }
  .button-create {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    .icon-create {
      padding-right: 5px;
    }
  }
  .mat-nav-list {
    padding-top: 0px;
  }
  .sidenav-container {
    height: 100%;
  }
  .sidenav {
    width: 200px;
  }
  .mat-toolbar {
    z-index: 9999;
    .toolbar-right-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        cursor: pointer;
      }
    }
    &.toolbar-left {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .title {
        margin-left: 3px;
      }
    }
    .custom-search {
      margin: 25px;
    }
    &.mat-toolbar-single-row {
      position: sticky;
      top: 0;
    }
  }

  .mat-sidenav-content {
    display: grid !important;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .mat-sidenav-content {
      display: block !important;
    }
  }
}
