:host {
  ::ng-deep .mat-list-item {
    font-size: 14px !important;
  }
  ::ng-deep .mat-form-field-infix {
    width: 120px;
    padding: 0.2375em 0;
  }
  .button-create {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    .icon-create {
      padding-right: 5px;
    }
  }
  .mat-nav-list {
    padding-top: 0px;
  }

  .mat-toolbar {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    .toolbar-right {
      display: flex;
      align-items: center;
      justify-content: center;
      .button-text {
        display: block;
      }
      .mat-button {
        line-height: 25px;
      }
    }
    .toolbar-left {
      display: flex;
      align-items: center;
      justify-content: left;
      padding-left: 10px;
      .title {
        margin-left: 3px;
      }
    }
    .custom-search {
      margin: 25px;
    }
    &.mat-toolbar-single-row {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      flex: 1;
    }
  }
}
